<%-include("partials/header")%>
  <section id="image">
    <img src="public/IMAGE-FOR-CN.jpeg" alt="" class="image" width="250" height="280">
    <div class="about-paras">
    <p>Hey I am Sonakshi Mugrai. I am 19 years old and I am born and brought up in Delhi</p>
    <p>I have completed my school from Ramjas School in Delhi</p>
    <p>I am currently studying Computer science and engineering from SRM University , Chennai</p>
    <p>I have studied Web Development , MySQL , UI/UX and i am currently persuing a course in Reactjs</p>
    <p>In programming languages, i know python, c and javascript and i am currently learning c++</p>
    <p>I love to dance and play badminton</p>
    </div>
  </section>
