<%-include("partials/header")%>
  <section id="contact">
     <div class="row">
       <div class="col-lg-6">
         <h2 class="contacthead">HAVE A QUESTION?</h2> <br>
         <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. </p>
         <form>
           <div class="row">
             <div class="col-lg-6">
               <input type="text" placeholder="Enter your name" name="name"><br> <br>
               <input type="email" placeholder="Enter your email id" name="">
             </div>
             <div class="col-lg-6">
               <textarea  name="textarea" placeholder="Any message?" value="enter your message" rows="2" cols="30"></textarea>
               <button id ="contactsubmit"class="btn btn-outline-dark "type="submit" name="button">SUBMIT</button> <br> <br>
             </div>
           </form>
           </div>
       </div>
       <div class="col-lg-6 contactpart2">
         <div class="">
           <h4>CONTACT ME</h4>
           <p>TELEPHONE: 9953528830</p>
           <p>Email: sonakshimugrai7@gmail.com</p>
         </div>
         <div class="">
           <h4>SOCIAL MEDIA LINKS</h4>
           <a class="social-link" href="https://www.linkedin.com/in/sonakshi-mugrai-8419641b9/" target="_blank">Linkedin</a> <br>
           <a class="social-link" href="https://github.com/Sonakshi75" target="_blank">Github</a> <br>
           <a class="social-link" href="https://www.instagram.com/?hl=en" target="_blank">Instagram</a>
         </div>
         <div class="">
           <h4>ADDRESS</h4>
           <p>ABC Block, Rajouri Garden, New Delhi, India</p>
         </div>
       </div>
   </section>
 </body>
</html>
