<%-include("partials/header")%>
  <section id="resume">
    <h1 class="animate__animated animate__fadeInUp">MY RESUME</h1> <br> <br>
    <div class="resume-pdf-div">
      <a href="./public/SONAKSHI RESUME CN.pdf" target = "_blank" class="resume-pdf btn btn-light">Download PDF</a>
    </div>
    <div id="resume-details" class="row">
      <div class=" col-lg-6">
        <h5>Sonakshi Mugrai</h5>
      </div>
      <div class="col-lg-6">
        <p>Email: sonakshimugrai7@gmail.com</p>
        <p>Phone number: 9953528830</p>
      </div>
      <div class="col-lg-6">
        <p>EDUCATION</p>
      </div>
      <div class="col-lg-6">
        <p><strong>B.Tech, Computer Science</strong></p>
        <p>SRM University</p>
        <p>2020-2024</p>
        <p><strong>Senior Secondary (XII), Science</strong></p>
        <p>Ramjas School Anand Parvat
          (CBSE board)
          Year of completion: 2020
          Percentage: 90.20%</p>
          <p><strong>Secondary (X)</strong></p>
          <p>Ramjas School Anand Parvat
            (CBSE board)
            Year of completion: 2018
            Percentage: 89%</p>
      </div>
      <div class="col-lg-6">
        <p>TRAINING</p>
      </div>
      <div class="col-lg-6">
        <p><strong>Web Development</strong></p>
        <p>Udemy</p>
        <p>online</p>
        <a href="https://www.udemy.com/certificate/UC-23486924-e946-4d34-ad88-c16a614b024d/">Certificate</a>
        <p><strong>UI/UX</strong></p>
        <p>Great Learning</p>
        <p>online</p>
        <a href="https://olympus1.greatlearning.in/course_certificate/LYCEGBYW">Certificate</a>
        <p><strong>MySQL</strong></p>
        <p>Udemy</p>
        <p>online</p>
        <a href="https://www.udemy.com/certificate/UC-ef63d2a5-d8b7-4e98-8fcf-6aad1aedd3ab/">Certificate</a>
      </div>
      <div class="col-lg-6">
        <p>HOBBIES</p>
      </div>
      <div class="col-lg-6">
        <p>Dancing</p>
        <p>Writing</p>
        <p>Swimming</p>
        <p>Painting</p>
      </div>
      <div class="col-lg-6">
        <p>PAST EXPERIENCE</p>
      </div>
      <div class="col-lg-6">
        <p>NIL</p>
      </div>
    </div>
  </section>
  <script src="app.js" charset="utf-8"></script>
</body>

</html>
