<%-include("partials/header")%>
  <section id="skills">
    <h1 class="animate__animated animate__bounceInLeft">Here are my skills</h1>
    <div class="row">
      <div class="col-lg-4">
        <h3 class="skill">Web Development</h3>
        <img src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20200203200336/13-Things-You-Should-Know-Before-You-Enter-In-Web-Development.png" alt=" WEB DEV PICTURE"  width="300" height = "250">
      </div>
      <div class="col-lg-4">
        <h3 class="skill">Dancing</h3>
        <img src="https://leverageedu.com/blog/wp-content/uploads/2019/12/Career-in-Dancing.jpg" alt="Dancing "  width="300" height = "250">
      </div>
      <div class="col-lg-4">
        <h3 class="skill">Leadership</h3>
        <img src="https://lh3.googleusercontent.com/TfNN8HLZbAQhTIUkzCAJUipWqwbIzbpvI-TAffSvC8F3-yu5EMjeAq50vXC9EF6iXSxs7TE4zPlZErmy0VFmATJdxDau9VBYPqlT9rdBfIacyaEkBn4Du9uPHelJG6ic8OhHMIg" alt="Leadership"  width="300" height = "250">
      </div>
      <div class="col-lg-4">
        <h3 class="skill">Managing Things</h3>
        <img src="https://duext.com/wp-content/uploads/2018/10/blog-3-option-1.jpg" alt="Managing things"  width="300" height = "250">
      </div>
      <div class="col-lg-4">
        <h3 class="skill">Communication</h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRseW8aSi1gfV2ctrKJC9uP2vsOTs5iRzg5g&usqp=CAU" alt=" Communication "  width="300" height = "250">
      </div>
      <div class="col-lg-4">
        <h3 class="skill">Problem Solving</h3>
        <img src="https://successunlimited-mantra.com/images/easyblog_articles/189/b2ap3_large_blog-99.jpg" alt=" Problem Solving"  width="300" height = "250">
      </div>

    </div>
  </section>
